<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Predictor</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
<div class="container">
    <h1>Stock Price Predictor</h1>
    <form id="tickerForm">
        <input type="text" id="tickerInput" name="ticker" placeholder="Enter a ticker symbol">
        <button type="submit">Predict</button>
    </form>
    <div id="chart"></div>

</div>
<script src="../static/js/index.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</body>
</html>
